/* Vediocard.css */

.video-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.9)
  ); /* Stylish overlay */
  z-index: 1000; /* Ensure it stays on top */
  animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

.video-container {
  position: relative;
  width: 90%;
  height: 90%;
  background: linear-gradient(
    145deg,
    #000000,
    #1c1c1c
  ); /* Gradient background */
  border-radius: 15px; /* More rounded corners */
  overflow: hidden; /* Hide overflow for rounded corners */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* More pronounced shadow */
  animation: zoomIn 0.3s ease-in-out; /* Zoom-in animation */
  padding: 20px; /* Padding inside the container */
  display: flex; /* Enable flexbox layout */
  flex-direction: row; /* Align children in a row */
  justify-content: space-between; /* Distribute space between children */
}

iframe {
  width: 50%; /* Adjust size as needed */
  height: 100%;
  border: 2px solid #fff;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* Subtle box shadow */
}

.close-btn {
  position: absolute;
  bottom: 25px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  border-radius: 10px; /* More rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth background transition and scale effect */
}

.close-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.desc {
  width: 50%; /* Adjust width as needed */
  color: #f0f0f0; /* Slightly off-white text */
  font-family: "Arial", sans-serif;
  text-align: left;
  margin-left: 20px; /* Space between iframe and description */
  padding: 15px;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* More pronounced shadow */
  transition: transform 0.3s ease; /* Smooth transform transition */
}

.inline {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.inline p {
  margin: 0 10px;
}

/* Fade-in animation for the overlay */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Zoom-in animation for the video container */
@keyframes zoomIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
